# PARTE 2. MODIFICACION DE DATOS. 
Cosas que hemos detectado en el EDA: 
df_flight: 
- Tenemos varios Loyalty Numbers duplicados, esto no significa que tengamos que eliminarlos ya que cada fila muestra vuelos diferentes del cliente 
- Los nombres de las columnas tienen mayusculas. Las cambiaremos por minusculas. 
- Las columnas Points Redeemed y Dollar Cost Points Redeemed estan en int, las cambiaremos a float para que los valores sean mas precisos. 
- No hay nulos 

df_loyalty:
- Las columnas Cancellation Year y Cancellation Month tienen valores nulos altos (87.65%), no es alarmante ya que son las fechas de cancelacion y se puede deber a que son vuelos que no se han cancelado. Ademas, estan en float, los cambiaremos a int para una lectura correcta. 
- La columna Salary un 22.32% de valores nulos, haremos un estudio para ver si lo solucionamos. 
- No hay duplicados en la columna Loyalty Number. 

MERGEO de Dataframes: Vamos unir ambas tablas para tener la informacion unificada.

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)

In [2]:
df_flight= pd.read_csv("Customer Flight Activity.csv")

In [3]:
df_loyalty= pd.read_csv("Customer Loyalty History.csv")

In [4]:
df_both = df_flight.merge(df_loyalty, on="Loyalty Number")

In [5]:
df_both.head()

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,100018,2017,1,3,0,3,1521,152.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
1,100102,2017,1,10,4,14,2030,203.0,0,0,Canada,Ontario,Toronto,M1R 4K3,Male,College,NaN,Single,Nova,2887.74,Standard,2013,3,NaN,NaN
2,100140,2017,1,6,0,6,1200,120.0,0,0,Canada,British Columbia,Dawson Creek,U5I 4F1,Female,College,NaN,Divorced,Nova,2838.07,Standard,2016,7,NaN,NaN
3,100214,2017,1,0,0,0,0,0.0,0,0,Canada,British Columbia,Vancouver,V5R 1W3,Male,Bachelor,63253.0,Married,Star,4170.57,Standard,2015,8,NaN,NaN
4,100272,2017,1,0,0,0,0,0.0,0,0,Canada,Ontario,Toronto,P1L 8X8,Female,Bachelor,91163.0,Divorced,Star,6622.05,Standard,2014,1,NaN,NaN

In [ ]:
# Cambiamos mayusculas de los nombres de las columnas. 
df_both.columns = df_both.columns.str.lower()

In [7]:
df_both.head()

,loyalty number,year,month,flights booked,flights with companions,total flights,distance,points accumulated,points redeemed,dollar cost points redeemed,country,province,city,postal code,gender,education,salary,marital status,loyalty card,clv,enrollment type,enrollment year,enrollment month,cancellation year,cancellation month
0,100018,2017,1,3,0,3,1521,152.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
1,100102,2017,1,10,4,14,2030,203.0,0,0,Canada,Ontario,Toronto,M1R 4K3,Male,College,NaN,Single,Nova,2887.74,Standard,2013,3,NaN,NaN
2,100140,2017,1,6,0,6,1200,120.0,0,0,Canada,British Columbia,Dawson Creek,U5I 4F1,Female,College,NaN,Divorced,Nova,2838.07,Standard,2016,7,NaN,NaN
3,100214,2017,1,0,0,0,0,0.0,0,0,Canada,British Columbia,Vancouver,V5R 1W3,Male,Bachelor,63253.0,Married,Star,4170.57,Standard,2015,8,NaN,NaN
4,100272,2017,1,0,0,0,0,0.0,0,0,Canada,Ontario,Toronto,P1L 8X8,Female,Bachelor,91163.0,Divorced,Star,6622.05,Standard,2014,1,NaN,NaN

In [13]:
df_both.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 25 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   loyalty number               405624 non-null  int64
 1   year                         405624 non-null  int64
 2   month                        405624 non-null  int64
 3   flights booked               405624 non-null  int64
 4   flights with companions      405624 non-null  int64
 5   total flights                405624 non-null  int64
 6   distance                     405624 non-null  int64
 7   points accumulated           405624 non-null  float64
 8   points redeemed              405624 non-null  int64
 9   dollar cost points redeemed  405624 non-null  int64
 10  country                      405624 non-null  object
 11  province                     405624 non-null  object
 12  city                         405624 non-null  object
 13  postal code                  405624 non-null  object
 14  gender                       405624 non-null  object
 15  education                    405624 non-null  object
 16  salary                       302952 non-null  float64
 17  marital status               405624 non-null  object
 18  loyalty card                 405624 non-null  object
 19  clv                          405624 non-null  float64
 20  enrollment type              405624 non-null  object
 21  enrollment year              405624 non-null  int64
 22  enrollment month             405624 non-null  int64
 23  cancellation year            50064 non-null   float64
 24  cancellation month           50064 non-null   float64
dtypes: float64(5), int64(11), object(9)
memory usage: 77.4+ MB

In [14]:
round(df_both.isnull().sum()/df_both.shape[0]*100,10)

loyalty number                  0.000000
year                            0.000000
month                           0.000000
flights booked                  0.000000
flights with companions         0.000000
total flights                   0.000000
distance                        0.000000
points accumulated              0.000000
points redeemed                 0.000000
dollar cost points redeemed     0.000000
country                         0.000000
province                        0.000000
city                            0.000000
postal code                     0.000000
gender                          0.000000
education                       0.000000
salary                         25.312112
marital status                  0.000000
loyalty card                    0.000000
clv                             0.000000
enrollment type                 0.000000
enrollment year                 0.000000
enrollment month                0.000000
cancellation year              87.657535
cancellation month             87.657535
dtype: float64

In [15]:
df_both["cancellation year"].unique()

array([  nan, 2018., 2015., 2016., 2014., 2013., 2017.])

In [16]:
df_both["cancellation month"].unique()

array([nan,  3.,  9.,  2.,  7.,  6.,  8.,  4.,  1.,  5., 11., 12., 10.])

In [50]:
df_both["cancellation month"].unique()

array([0])

In [34]:
df_both["cancellation year"].unique()

array([<NA>, 2018.0, 2015.0, 2016.0, 2014.0, 2013.0, 2017.0], dtype=object)

In [54]:
def limpiar_mes(valor):
    """
    Limpia valores como 3000.0 → '3000' → '30' → '3'
    usando slicing, sin endswith, y evitando errores.
    """
    str_val = str(valor).split('.')[0]  # quita lo decimal

    if len(str_val) > 2:
        limpio = str_val[:-2]  # elimina dos últimos caracteres
    else:
        limpio = str_val  # si es muy corto, no cortar

    return int(limpio)

In [56]:
df_both['cancellation month'] = df_both['cancellation month'].apply(limpiar_mes)

ValueError: invalid literal for int() with base 10: ''